<H1> Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Identify commonly used libraries in data science.
- Introduce data science development environment tools.
- convert 200 minutes to hours

Some of the popular languages that Data Scientists use are:

1. **Python**
2. **R**

3. **Julia**
4.**Scala**

Some of the commonly used libraries by Data Scientists include:

1. **NumPy**

2. **Pandas**
3. **scikit-learn**

4. **Matplotlib**

5. **Seaborn**

| Data Science Tools      |
|-------------------------|
| Jupyter Notebooks       |
| RStudio                 |
| VS Code with Python     |

<H3> Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
x=(3*4)+5
print(x)

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
h=200/60
h

3.3333333333333335